.popUpEmprestimo{
    padding: 3rem;
     top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgb(47, 14, 233);
    font-size: 18px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    line-height: 1.6;
     letter-spacing: 0.5px;

}
.fundo{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter:blur(3px) ;
}
.x{
    position: absolute;
    top: 10px;
    right: 10px;
        font-size: 15px;
    font-weight: 800;
    border-radius: 5px;
    padding: 3px;
    color:  rgb(47, 14, 233);
    border: none;
    background-color: rgb(255, 255, 255);
}
.x:hover{
    background-color: rgb(221, 218, 218);
cursor: pointer;
}

.btnDefault{
    border: none;
    padding: 0.3rem;
    color: rgb(47, 14, 233);
    margin: 4px;
    border-radius: 5px;
}
.btnDefault:hover{
    background-color: rgb(221, 218, 218);
    cursor: pointer;
}
.back{
display: flex;
  flex-direction: row;
  gap: 15px; 
  padding: 20px;
    gap: 10px;
    margin: 2rem;
  
}
.back div{
      padding: 15px;
  border: 1px solid #EFBF04; 
  border-radius: 8px;
  background-color: #003366;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
   transition: transform 0.2s, box-shadow 0.2s
}
.back > div:hover {
  transform: translateY(-1px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}
.back p{
    text-transform: uppercase;
    font-size: 15px;
    
}