.title{
    display: flex;
    justify-content: center;
    color:#ffffff;
    text-transform: uppercase;
    margin: 1rem;
    
}
.card {
  display: flex;
  flex-direction: row;
  gap: 15px; 
  padding: 20px;
}

.card > div {
  padding: 15px;
  border: 1px solid #EFBF04; 
  border-radius: 8px;
  background-color: #96b9da;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
   transition: transform 0.2s, box-shadow 0.2s;
   color: black;
    font-size:14px;
  font-weight:600;
}
.card > div:hover {
  transform: translateY(-1px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}
.card p{
    text-transform: uppercase;
    
}
.btn{
    background-color: #003366;
    color: white;
    border: 1px solid #EFBF04;
    border-radius: 8px;
    padding:0.5rem;
    transition: transform 0.2s, box-shadow 0.2s;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);

    margin: 1rem;
}
.btn:hover{
    transform: translateX(-1px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  
}
.fundo{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  color: #ffff;
  transform: translate(-50%, -50%);
  background: rgb(66, 190, 8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.6);
}
.popup button{
 background: rgb(57, 165, 7);
 cursor: pointer;
}
.popupError {
  font-size: 15px;
  position: fixed;
  color: #ffffff;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  background: rgb(168, 20, 20);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.6);
}
.popupError >button{
  margin-top: 1rem;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.popupError>button:hover{
  background-color: #d10f0f;
  cursor: pointer;
}
.formu{
background-color: #96b9da;
  padding:2rem;
  border-radius:10px;
  width:350px;
  display:flex;
  flex-direction:column;
  color: black;
  gap:1rem;
margin: 0 auto;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  border: 1px solid #EFBF04;
}
.campo{
  display:flex;
  flex-direction:column;
  gap:4px;
}
.campo label{
  font-size:14px;
  font-weight:600;
}
.campo input{
  margin: 3px;
  border-radius: 2px;
  border: none;
}