.container{
  text-align: center;
  margin: 12rem 0 0 0;
}
.btn{
  display: inline-block;
  margin: 1rem 0 0 0;
  border-radius: 5px;
  border:2px solid #003366;
  text-decoration: none;
  color: #003366;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}
.btn:hover{
  background-color: rgb(240, 240, 240);
  border: 2px solid #0a73db;
  color: #0a73db;
}
.title{
  font-size: 20px;
}